@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tour Scheduler</h1>
    <img src="https://newsroom.churchofjesuschrist.org/media/orig/Layton-Temple-exterior-rendering.jpg"
         name="Layton Temple Photo" style="width: 500px" />
    <br />
    <br />
    <button type="button" asp-action="">Sign Up</button>
   
</div>
